<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-abouttext">
      このサイトを活用する事で<br>
      何処でどんな魚が釣れているかマップを利用し簡単に<br>
      確認していただけます。さらにはルアーなどの<br>
      釣具の記録・管理も行う事が可能になります。<br>
    </p>
  </div>
</div>
<%= render 'new_post', fish: @fish %>
