<div class="background">
   <div class="container-fluid py-5">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto pt-3">
          <article class="post-preview">
              <h3 class="post-title">Anglers Record</h3>
              <h5 class="post-subtitle">ここは釣り人達の思い出を記録する場所です</h5>
              <h6 class="post-subtitle">あなたの記録も残して皆さんで共有しませんか？</h>
          </article>
        </div>
      </div>
    </div>
  </div>
  
  
    <header class="header">
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid mb-3" style="background-color:rgba(255,255,255,0.8);">
        <div class="container py-3">
          <div class="d-md-flex align-items-center">
            <div class="pt-3 col-md-4">
              <a href="/"><img src="img/logo.png" alt="logo" class="img-fluid"></a>
            </div>
            <div class="pt-3 col-md-8">
              <h1>キャッチコピーが入ります</h1>
              <p class="text-muted">これは単純なヒーローユニット、注目のコンテンツや情報に特別な注意を喚起するためのシンプルなジャンボトロンスタイルのコンポーネントです。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>