<div class="main-visual">
   <div class="main-visual-content">
     <h1 class="main-title">Anglers Record</h1>
     <p class="main-visual-text md-fluid">
        Welcome  to  this  page <br>
        This  is  a  site  to  record <br>
        memories  of  you  and  fish !<br>
     </p>
   </div>
</div>
<%= render 'new_post', fish: @fish %>