/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
 
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// body {
//   font-family: 'fantasy';
//   font-size: 20px;
//   line-height: 1.8;
//   color: #000000;
//   background-image: none;
//   background-color: #0304021c;
//   margin: 0 auto;
// }

// map系はなくても良さそう
// .map_wrapper {
//   position: relative; /* 子要素の基準とする */
//   width:100%;
//   padding-top:56.25%; /* 幅の 56.25% を高さとする場合（16:9）*/
//   border: 1px solid #CCC;  
// }
 
// .map_wrapper .gmap {
//   position: absolute; /* 親要素のパディング領域に配置 */
//   width: 100%; /* 親コンテナの幅いっぱいに表示 */
//   height: 100%; /* 親コンテナの高さいっぱいに表示 */
//   top: 0;
//   left: 0;
// } 

 .details li {
      list-style: none;
    }
    
    
    li {
        margin-bottom:15px;
        
    }


