/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.navbar-brand {
 font-size: 30px;
 margin-top: 30px;
 font-family: 'Great Vibes', cursive;
}

.navbar-nav {
 font-size: 20px;
 text-align: center;
}


.nav-link {
 margin-left: 30px;
 padding-top: 30px;
}

.heart_red {
 color: #ff0000;
}

.heart_blue {
 color: #a1a1a185;
}

.search_form {
 padding-bottom: 10px;
}


.index-title {
 padding-left: 40px;
}