<h1>Fishes#show</h1>
 <table class="table cart_products">
        <tr>
          <th>商品</th>
          <td><%#= @fish.fish_name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%#= @fish.lure %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%#= @fish.body %></td>
        </tr>

      </table>
